@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The data was pulled from <a href="https://swapi.dev/">swapi.dev</a></p>

<p>For the app to be fully operational you need to create the DB on your local machine, run the command displayed below from the cmd 
	in the StarWarsMVC main folder!</p>
<p><b>dotnet ef database update -s "StarWarsMVC.csproj"</b></p>

<p>Editing and deleting movies are operations allowed only on the objects that are in the DB.</p>


